<ion-view view-title="Chats">
  <ion-content class="chats">

    <marquee-row options='options' marquee-data = 'dataList'  change-callback='changeCallback()'></marquee-row>

    <div style="width: 100%;background: #0c60ee;height: 44px;overflow: scroll;" id="aa">
      <div style="background: #0a9dc7;height:44px">123132</div>
      <div style="background: #0a9dc7;height:44px">我萨达萨达萨达撒多</div>
      <div style="background: #0a9dc7;height:44px">方法</div>
      <div style="background: #0a9dc7;height:44px">方法方法付付</div>
      <div style="background: #0a9dc7;height:44px">1232大萨达</div>
    </div>


    <div class="row row-wrap">
      <div class="col-25 text-center animated bounceInRight" ng-repeat="data in [1,2,3,4]">
        <img style="width: 32px" ng-src={{'img/'+data+'.png'}}>
      </div>
    </div>

    <div class="top" style="width: 100%;padding-left: 30px">
      <div id="airportPie" style="width: 180px;height: 180px;"></div>
      <div class="right">

      </div>
    </div>

    <div style="margin:30px 0;height: 100px;">
      <draw-bar bar-list='barList' line-width='10'  key-word-data="data" key-word-name="name" max-y='maxY'></draw-bar>
    </div>



    <div class="text-center"><canvas width="100" height="100" draw-pie percent="percent" line-width="6"></canvas></div>

    <div ng-repeat='data in percentList track by $index' style="width: 80%;margin-left: 10%;margin-top: 10px">
      <draw-line  percent="data.p" line-width="10"
                  tooltip-title="data.title" tooltip-title1="data.title1"
                  tooltip-title2="data.title2" tooltip-data1="data.data1"
                  tooltip-data2="data.data2" tooltip-unit="data.unit"
      >
      </draw-line>
    </div>





  </ion-content>
</ion-view>
