<ion-view view-title="项目资料">
  <ion-content class="project-data-page">
    <div class="row each-item" ng-click="goNext(1)">
      <div  class="col-10 text-center"><img ng-src="img/projectdata/1.png"/></div>
      <span class="col text-left">建筑</span>
      <span class="col text-right"><i class="icon ion-ios-arrow-right"></i></span>
    </div>
    <div class="row each-item" ng-click="goNext(2)">
      <div  class="col-10 text-center"><img ng-src="img/projectdata/2.png"/></div>
      <span class="col text-left">物管</span>
      <span class="col text-right"><i class="icon ion-ios-arrow-right"></i></span>
    </div>
    <div class="row each-item border0" ng-click="goNext(3)">
      <div  class="col-10 text-center"><img ng-src="img/projectdata/3.png"/></div>
      <span class="col text-left">维保</span>
      <span class="col text-right"><i class="icon ion-ios-arrow-right"></i></span>
    </div>

    <div class="self-divider"></div>

    <div class="row each-item" ng-click="goNext(4)">
      <div  class="col-10 text-center"><img ng-src="img/projectdata/4.png"/></div>
      <span class="col text-left">设施</span>
      <span class="col text-right"><i class="icon ion-ios-arrow-right"></i></span>
    </div>
    <div class="row each-item border0" ng-click="goNext(5)">
      <div  class="col-10 text-center"><img ng-src="img/projectdata/5.png"/></div>
      <span class="col text-left">人员</span>
      <span class="col text-right"><i class="icon ion-ios-arrow-right"></i></span>
    </div>
  </ion-content>
</ion-view>
