<ion-view view-title="物管" class="wuguan-page">

  <ion-nav-buttons side="right">
    <button class="submit" ng-click="submitData()">提交</button>
  </ion-nav-buttons>

  <ion-content  ng-click="closeCompanyList()">

    <div class="row each-item">
      <span class="col col-33 text-left">物管公司</span>
      <div class="col text-right">
        <input type="text" class="type2-input" ng-keyup="getWuguanCompanyList()" ng-model="wuguan.CompanyName"/>
      </div>
    </div>
    <div class="company-list" ng-show="isShowCompanyList == true">
      <ion-scroll>
        <div class="each-company" ng-repeat="data in CompanyList | filter:wuguan.CompanyName" ng-click="getCompany(data)">
          <span>{{data.CompanyName}}</span>
        </div>
      </ion-scroll>
    </div>

    <div class="row each-item">
      <span class="col col-33 text-left">物业费<label class="describe"> (单价)</label></span>
      <div class="col text-right">
        <input class="type2-input" type="text" ng-model="wuguan.PropertyFee">
      </div>
      <div class="col-10 text-left unit-div">
        <span>元/m³</span>
      </div>
    </div>

    <div class="row each-item">
      <span class="col col-33 text-left">水费<label class="describe"> (单价)</label></span>
      <div class="col text-right">
        <input class="type2-input" type="text" ng-model="wuguan.WaterFee">
      </div>
      <div class="col-10 text-left unit-div">
        <span>元/m³</span>
      </div>
    </div>

    <div class="row each-item">
      <span class="col col-33 text-left">电费<label class="describe"> (单价)</label></span>
      <div class="col text-right">
        <input class="type2-input" type="text" ng-model="wuguan.PowerFee">
      </div>
      <div class="col-10 text-left unit-div">
        <span>元/m³</span>
      </div>
    </div>

  </ion-content>
</ion-view>
