<ion-view>
  <ion-content class="add-page">
    <div class="each-item" ng-repeat="data in dataList track by $index">
      <input type="text" ng-model="dataList[$index].RoomName" ng-if="dataList[$index].RoomName != undefined"/>
      <input type="text" ng-model="dataList[$index].DeviceName" ng-if="dataList[$index].DeviceName != undefined"/>
      <i class="icon ion-ios-minus-outline" ng-click="deleteItem($index)"></i>
    </div>
    <div class="each-item add" ng-click="addItem()">
      <i class="icon ion-ios-plus-empty"></i>
    </div>

    <div class="button finish-add" ng-click="finishAdd()">完成</div>
  </ion-content>
</ion-view>
