<ion-view>
  <ion-content class="add-project-page" scroll="false">
    <div class="pro-name row">
      <div class="col-25">项目名称</div>
      <input class="col-75" type="text" ng-model="project.ProjectName"/>
    </div>
    <div class="pro-type row">
      <div class="col-25">项目类型</div>
      <select class="col-75" ng-model="project.PlatformCode">
        <option ng-repeat="data in dataList" value="{{data.PlatformCode}}">
          {{data.PlatformName}}
        </option>
      </select>
    </div>
    <div class="pro-address row">
      <div class="col-25">项目地址</div>
      <input class="col-75" type="text" ng-model="project.Address"/>
    </div>

    <div class="button finish-add" ng-click="finishAdd()">完成</div>

  </ion-content>
</ion-view>
