<ion-view>
  <ion-content class="list-page" id="page">
    <div ng-repeat="data in dataList" class="div1">
      <div class="sys-list" ng-click="addRoom(data)" ng-class="{'hasRoom': data.ListInfos.length != 0}">
        <span>{{data.SystemName || data.TypeName}}</span>
        <span><span ng-if="data.ListInfos.length == 0">配置</span><i class="icon ion-ios-arrow-right"></i></span>
      </div>
      <div class="row row-wrap text-center room-list" ng-if="data.ListInfos">
        <div class="col-25 each-room" ng-repeat="room in data.ListInfos track by $index"
             ng-style="grid_style"
             ng-class="{'noBorderBottom': room.IsSpecialContent == true}"
             ng-click="addDevice(room)">
          <span>{{room.RoomName || room.DeviceName}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
