<ion-view class="myProject">
  <ion-content>
    <div class="set-password" ng-if="!isSetPassword" ng-click="setPassword()">
      <img src="img/icon_key.png"/>
      <span>设置密码</span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="projects row row-wrap" style="padding:0">
      <div class="project col-25 text-center" ng-repeat="data in dataList track by $index"
           ng-class="{'noBorderTop':$index > 3}"
           ng-style="grid_height" ng-click="setProject(data)" on-hold="operateProject()">
        <span>{{data.ProjectName}}</span>
      </div>
      <div class="add col-25 text-center" id="addDiv" ng-class="{'noBorder':dataList.length > 0}" ng-style="grid_height" ng-click="addProject()">
        <i class="icon ion-ios-plus-empty"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
