<ion-view>
  <ion-content class="register-page">
    <div class="input-phone" ng-if="isRegister">
      <span>+86</span>
      <input type="number" placeholder="请输入电话号码" ng-model="phone.telNumber"/>
      <img src="img/icon_delete.png" ng-click="resetPhone()" ng-if="phone.telNumber"/>
    </div>

    <div class="button next-step" ng-class="{'button_disable': !phone.telNumber}" ng-click="openModal('templates/declareProject/scanQrCode.html')"  ng-if="isRegister">下一步</div>

  </ion-content>
</ion-view>
