<ion-modal-view class="scanQrCodeModal text-center">
  <div class="scanQrCode">
    <div class="top">
      <p>完成项目成员验证</p>
      <img src="img/wx-code.jpg" />
      <p>请长按扫描二维码</p>
    </div>
    <div class="bottom">
      <span>扫描完后需完成以下步骤</span>
      <div class="describe text-left">
        <div><i class="icon ion-record"></i>关注公众号“云设施”</div>
        <div><i class="icon ion-record"></i>点击“我与云”(项目申报)</div>
        <div><i class="icon ion-ios-checkmark"></i>完成</div>
      </div>
      <hr/>
    </div>
  </div>
</ion-modal-view>
