<ion--view >
  <ion-content class="setPassword">
    <p class="title1">设置登录密码，之后可添加项目</p>
    <div class="phone-div row">
      <div class="col-25">手机号</div>
      <div>{{user.phone}}</div>
    </div>
    <div class="pwd-div row">
      <div class="col-25">密码</div>
      <div class="col"><input type="password" id="pwd" placeholder="填写密码" ng-model="user.password"/></div>
    </div>
    <div class="checkPwd-div row">
      <div class="col-25">密码密码</div>
      <div class="col"><input type="password" id="checkPwd" placeholder="再次填写确认" ng-model="user.checkPassword"/></div>
    </div>

    <div class="button finish-password-set" ng-class="{'button_disable': (!user.password || !user.checkPassword)}" ng-click="finishPasswordSet()">完成</div>

  </ion-content>
</ion--view>
