.dir-draw-line{

}

.dir-draw-line .tooltip{
  position: absolute;
  font-size: 9px;
  color:#fff;
  background:rgba(38,42,53,0.5);
  padding: 2px 5px;
  border-radius: 3px
}

.dir-draw-line .tooltip P{
  margin-bottom: 0;
}

.dir-draw-line .tooltip span{
  font-size: 12px;
}

.dir-draw-line .tooltip .title1::before{
  width:6px;
  height:6px;
  border-radius: 3px;
  background: #1fb5ff;
  content:'';
  display: inline-block;
  margin-right: 5px;
}

.dir-draw-line .tooltip .title2::before{
  width:6px;
  height:6px;
  border-radius: 3px;
  background: #E8F7FF;
  content:'';
  display: inline-block;
  margin-right: 5px;
}
