/*!* 全局css *!*/
.tabs {
  border-color: rgba(178, 178, 178, 0.2);
  background-image: none;
  background-color: #F9F9F9 !important;
  border-top: 1px solid rgba(211,211,211,1)!important;
}


.chats .parent{
  height: 20px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: scroll;
}

.chats .children{
  display: inline-block;
}

.start-record{
  text-align: center;
  background: aliceblue;
  height: 100px;
  line-height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px auto;
}

.play-record{
  margin: auto;
  text-align: center;
  background: bisque;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  color: #fff;
}

::-webkit-scrollbar
{
  width: 0;
  height: 0;
  background-color: transparent;
}
